@charset "UTF_8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    max-width: 1010px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;

    display: grid;
    gap: 5px;
    grid-template-columns: 300px repeat(1, minmax(100px, auto));
    grid-template-rows: 300px repeat(1, minmax(100px, auto)) 1;
    grid-template-areas: 
    "header header header"
    "nav main main";
}

header {
    padding: 10px;
    background-color: lightgreen;
    max-width:1005px;
    grid-area: header;

    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.28);
    border-radius: 5px;
    background-image: url(../assets/background-header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header > div.titulo {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.26);

    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 40vw;
}

div.titulo p {
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.82);
    margin: 10px;
    margin-bottom: 20px;
}

div.titulo h1{
    font-size: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.814);
    margin: 10px;
    margin-bottom: 20px;
}

main {
    background-color: lightgray;
    max-width: 700px;
    grid-area: main;
    display: grid;
    border-radius: 4px;
    padding: 10px;
}

main div.dicas {
    background-color: rgba(255, 255, 255, 0.708);
    border-radius: 7px;
    padding: 10px;
    text-align: center;border: 1px solid grey;
    margin-bottom: 15px;
}

main div.dicas h1 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.812);
}

main div.dicas p {
    margin-top: 5px;
    font-size: 20px;
}

main section {
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.737);
    display: flex;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid gray;
}

main section h2 {
    margin-bottom: 20px;
    text-align: center;
}

img {
    border-radius: 5px;
}

nav {
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgb(232, 232, 232), rgba(128, 128, 128, 0.324));
    padding: 3px;
    max-width: 300px;
    grid-area: nav;
    background-color: rgb(218, 218, 218);
}

nav a {
    background-color: rgba(0, 0, 0, 0.04);
    display: block;
    padding:7px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    margin: 3px;

    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

section:hover {
    transform: scale(1.02);
    transition: .2s;
}

